h1 {
    text-align: center;
    margin-bottom: 50px;
}
img {
    height: 150px;
}
div {
    display: inline-block;
    margin-left: 20px;
    text-align: center;
        
}
#basket {
    display: block;
    clear: both;
    text-align: justify;
    margin-top: 70px;
}
